@charset "UTF-8";

.list_table, .dev2_item, .dev2_item_left, .dev2_item_right > p {
    font-size: 18px;
    font-weight: 500;
}

.table_head {
    margin-bottom: -1px;
}

.div_table_detail {
    height: 200px;
    overflow: auto;
    border-bottom: 1px solid #A6A6A6;
}

table.table_haichi > thead > tr > th:nth-child(1), table.table_haichi > tbody > tr > td:nth-child(1) {
    width: 14%;
}

table.table_haichi > thead > tr > th:nth-child(2), table.table_haichi > tbody > tr > td:nth-child(2) {
    width: 10%;
}

table.table_haichi > thead > tr > th:nth-child(3), table.table_haichi > tbody > tr > td:nth-child(3) {
    width: 28%;
}

table.table_haichi > thead > tr > th:nth-child(4), table.table_haichi > tbody > tr > td:nth-child(4) {
    width: 12%;
}

table.table_haichi > thead > tr > th:nth-child(5), table.table_haichi > tbody > tr > td:nth-child(5) {
    width: 12%;
}

table.table_haichi > thead > tr > th:nth-child(6), table.table_haichi > tbody > tr > td:nth-child(6) {
    width: 12%;
}

table.table_haichi > thead > tr > th:nth-child(7), table.table_haichi > tbody > tr > td:nth-child(7) {
    width: 12%;
}


table.table_kiki > thead > tr > th:nth-child(1), table.table_kiki > tbody > tr > td:nth-child(1) {
    width: 20%;
}

table.table_kiki > thead > tr > th:nth-child(2), table.table_kiki > tbody > tr > td:nth-child(2) {
    width: 80%;
}

.main_device {
    width: 100%;
    float: left;
    /* margin-bottom: 50px; */
    margin-top: 30px;
}

.device_current {
    width: 30%;
    float: left;
}

.device_content {
    width: 68%;
    float: left;
    margin-right: 2%;
}

.device_content_main {
    width: 100%;
    float: left;
    margin-top: 30px;
    background: #f1f1f1;
    padding: 10px;
}

.button_device {
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.on_device {
    width: 68%;
    float: left;
    margin-right: 2%;
    padding: 10px;
    border: 2px solid #058bf7;
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div#container {
    width: 100%;
    height: 800px;
}

ul#all_device {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

    ul#all_device > li {
        /*tho edit*/
        /*display: inline-block;*/
        display: table;
    }

    ul#all_device > .de_1 {
        width: 7%;
        padding-bottom: 7%;
        border-radius: 50%;
        position: absolute;
        background: #f1eded;
    }

    ul#all_device > li > span {
        display: inline-block;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 20%;
    }

li#de_1_1 {
    top: 1%;
    left: 50%;
}

li#de_1_2 {
    top: 1%;
    left: 59%;
}

li#de_1_3 {
    top: 8%;
    left: 54%;
}

ul#all_device > .de_2 {
    position: absolute;
    width: 7%;
    padding-bottom: 7%;
    border-radius: 50%;
    background: #d4cccc;
    top: 66%;
    left: 61%;
}

li#de_2_2 {
    top: 29%;
    right: 1%;
}

ul#all_device > .de_3 {
    position: absolute;
    width: 7%;
    padding-bottom: 7%;
    border-radius: 50%;
    background: #c5c1c1;
    top: 25%;
    right: 1%;
}

li#de_2_1 {
    top: 31%;
    right: 1%;
}

ul#all_device > .de_5 {
    position: absolute;
    top: 7%;
    width: 13%;
    padding-bottom: 15%;
    background: #8BC34A;
    left: 15%;
}

ul#all_device > .de_6 {
    position: absolute;
    top: 7%;
    width: 13%;
    padding-bottom: 15%;
    background: #e3f5cf;
    left: 29%;
}

ul#all_device > .de_7 {
    position: absolute;
    top: 7%;
    width: 18%;
    padding-bottom: 11%;
    background: #f57e75;
    left: 70%;
}

ul#all_device > .de_8 {
    position: absolute;
    top: 15%;
    width: 10%;
    padding-bottom: 6%;
    background: #b6d9e8;
    left: 89%;
}

ul#all_device > .de_9 {
    position: absolute;
    top: 23%;
    width: 12%;
    padding-bottom: 11%;
    background: #FFC107;
    left: 41%;
}

ul#all_device > .de_10 {
    position: absolute;
    top: 23%;
    width: 12%;
    padding-bottom: 11%;
    background: #ca9a0d;
    left: 55%;
}

ul#all_device > .de_11 {
    position: absolute;
    top: 35%;
    width: 9%;
    padding-bottom: 17%;
    background: #0ad8f3;
    left: 1%;
}

ul#all_device > .de_12 {
    position: absolute;
    top: 52%;
    width: 9%;
    padding-bottom: 17%;
    background: #28bcd0;
    left: 1%;
}

ul#all_device > .de_14 {
    position: absolute;
    top: 35%;
    width: 15%;
    padding-bottom: 43%;
    background: #607D8B;
    left: 46%;
}

ul#all_device > .de_15 {
    position: absolute;
    top: 75%;
    width: 12%;
    padding-bottom: 10%;
    background: #b6a9ce;
    left: 1%;
}

ul#all_device > li#de_15_2 {
    left: 17%;
    top: 78%;
}

ul#all_device > .de_16 {
    position: absolute;
    top: 82%;
    width: 15%;
    padding-bottom: 10%;
    background: #e2e89e;
    left: 46%;
}

ul#all_device > .de_17 {
    position: absolute;
    top: 73%;
    width: 12%;
    padding-bottom: 15%;
    background: #b2b95e;
    left: 63%;
}

ul#all_device > .de_18 {
    position: absolute;
    top: 90%;
    width: 12%;
    padding-bottom: 8%;
    background: #ead698;
    left: 5%;
}

ul#all_device > .de_19 {
    position: absolute;
    top: 89%;
    width: 12%;
    padding-bottom: 8%;
    background: #e0b632;
    left: 20%;
}

ul#all_device > .de_20 {
    position: absolute;
    top: 90%;
    width: 15%;
    padding-bottom: 8%;
    background: #f56c9a;
    left: 79%;
}

ul#all_device > #de_2_2 {
    top: 66%;
    left: 70%;
}

ul#all_device > .de_4 {
    width: 7%;
    padding-bottom: 7%;
    border-radius: 50%;
    background: #c5c1c1;
    position: absolute;
    top: 34%;
    right: 1%;
}

ul#all_device > .de_13 {
    width: 20%;
    padding-bottom: 6%;
    color: #d40101;
    font-weight: 800;
    top: 21%;
    left: 19%;
}

.ckeck_in {
    position: absolute;
    width: 100px;
    text-align: center;
    background: #fff;
    bottom: -18px;
    z-index: 9999999999999999999999;
    padding: 5px 0;
    left: calc(50% - 50px);
    font-size: 16px;
    font-weight: 900;
}

.table_device {
    width: 30%;
    float: left;
    padding: 15px;
    border: 2px solid #2196F4;
    background: #fff;
}

div#device2 div#screen {
    margin-top: 0;
}

div#device2_current {
    padding-right: 3%;
}

.dev2_item {
    width: 100%;
    float: left;
    margin-bottom: 35px;
}


    .dev2_item input {
        width: 100%;
        height: 40px;
        font-size: 20px;
        border: 2px solid #607d8b;
        padding-left: 20px;
    }

    .dev2_item .table_list {
        margin-top: 0;
    }

.dev2_item_left {
    width: 40%;
    float: left;
}

.dev2_item_right {
    width: 40%;
    float: right;
}

select.select {
    width: 100%;
    height: 40px !important;
    border: 2px solid #607D8B;
}

.table_list {
    width: 100%;
    float: left;
    margin-top: 55px;
}

button.btn {
    display: inline-block;
    font-size: 20px;
    padding: 5px 20px;
    color: #fff;
    background: #2196F3;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 130px;
}

    button.btn:hover {
        background: #1385e0;
        color: #fff;
    }

.button-list-left {
    width: 30%;
    float: left;
}

.button-list-righ {
    width: 68%;
    float: left;
    margin-right: 2%;
}

button.btn.btn-left1 {
    float: left;
    margin-left: 5%;
}

button.btn.btn-left2 {
    float: left;
    margin-left: 40%;
}

button.btn.btn-right {
    float: right;
    margin-right: 5%;
}

